{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "important-stuff",
    "plugin:prettier/recommended" 
  ],
  "parser": "",
  "parserOptions": {
    "ecmaVersion": 6,
    "allowImportExportEverywhere": true
  }
}

